<div class="list-group-item task-content-height">
  <div class="row h-100">
    <div class="col-md-6">
      長期海外在住中のランサーもいるので、多様に求められるご要望に柔軟にお応えします。
      コンペを使えは、１～２週間で数十から数百点のデザインやアイディアを集めることができます。
    </div>
    <div class="col-md-2">
      <div class="row max-width h-50 category-tasks">
        分野
      </div>
      <div class="row max-width h-50 category-tasks">
        エリア
      </div>
    </div>
    <div class="col-md-2">
      <div class="row max-width h-50 category-tasks">
        賃金
      </div>
      <div class="row max-width h-50 category-tasks">
        未経験の可能
      </div>
    </div>
    <div class="col-md-2 category-tasks">期日</div>
  </div>
</div>