<div class="card-header">
  学生
</div>
<div class="card-body">
  <ul class="list-group">
    <%= render "tasks/form" %>
    <%= render "tasks/form" %>
    <%= render "tasks/form" %>
    <%= render "tasks/form" %>
  </ul>
</div>