<div class="card-header">
  学生
  <div class="pull-right">
    <select class="custom-select ml-2 col-md" id="inputGroupSelect01">
      <option selected>並び順</option>
      <option value="1">新着順</option>
      <option value="2">評価順</option>
    </select>
  </div>
</div>
<div class="card-body">
  <ul class="list-group">
    <% tasks.each do |e| %>
      <%= render "tasks/form", task: e %>
    <% end %>
  </ul>
</div>