<h1 class="text-center m-5 search-result-title-color"><%= @search_text %>を検索結果</h1>
<%= render "search/form" %>
<div class="card mt-5 m-3">
  <%= render "tasks/list_task_form", tasks: @tasks %>
</div>
