<div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">サイト名　　　　　　　　　　　　　　　　　　ユーザー名</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            
<div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">作業名</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            
            
<div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">作業内容</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

<div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">申込期日</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
<div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">作業期間</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

<div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">賃金</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
<div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">見込み時間</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">投稿</a>
    </div>
  </nav>
           
          
          
                      
          