<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>

<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
</style>
<body>
<div class="w3-container w3-myfont">
  <p class="w3-large">サイト名　　　　　　　　　　　　　　　　ユーザー名</p>
  <p class="w3-large">作業名</p>
  <p class="w3-large">作業内容</p>
  <p class="w3-large">申込期日</p>
  <p class="w3-large">作業期間</p>
  <p class="w3-large">賃金</p>
  <p class="w3-large">申し込み時間</p>
  
　　　　　　　　<button>申し込み</button>
</body>
</html>

          
          
                      
          