<!----------------------------search------------------------------>
<div class="mt-200px">
  <%= render "search/form" %>
  <!----------------------------list tasks------------------------------>
  <div class="card mt-5 m-3">
    <%= render "tasks/list_task_form" %>
  </div>
</div>
