<!----------------------------search------------------------------>
<h1 class="text-center mt-5">簡易作業検索</h1>
<div class="mt-100px">
  <%= render "search/form" %>
  <!----------------------------list tasks------------------------------>
  <div class="card mt-5 m-3">
    <%= render "tasks/list_task_form", tasks: @tasks %>
  </div>
</div>
