<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>

<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
</style>
<body>
<div class="w3-container w3-myfont">
  <p class="w3-large">サイト名　　　　　　　　　　　　      ユーザー名</p>
  <p class="w3-large">学生プロフィール</p>
  <button>投稿</button>
  <p class="w3-large">写真</p>
　<p class="w3-large">名前</p>
　<p class="w3-large">住所</p>
　<p class="w3-large">連絡先</p>
  <p class="w3-large">自己紹介</p>
  <p class="w3-large">作業一覧</p>
  
  <p class="w3-large">作業名</p>
  <p><a href=>完了</a></p
  <p><a href=>DM</a></p>
  <p class="w3-large">作業中</p>
  
  <p class="w3-large">作業名</p>
  <p><a href=>DM</a></p
  <p class="w3-large">依頼中</p>
  
  <p class="w3-large">作業名</p>
  <p><a href=>DM</a></p>
  <p class="w3-large">非承認</p>
  
  <p class="w3-large">コメント</p>
  
  <p><a href=>再編集</a></p
  
  <p class="w3-large">作業名</p>
  <p><a href=>支払い</a></p
  <p><a href=>DM</a></p>
  <p class="w3-large">完了</p>
  
  <p class="w3-large">作業名</p>
  <p><a href=>DM</a></p>
  <p class="w3-large">未承認</p>
  
  
</body>
</html>

          
          
                      
          