.checkbox-veteran {
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
}

.task-content-height {
  height: 130px;
}

.category-tasks {
  border: 1px solid #c3d0dd;
  border-radius: 5px;
  justify-content: center;
  padding-top: 10px;
}

.h-65px {
  height: 65px;
}

.mt-200px {
  margin-top: 200px;
}

.dropdown-right {
  position: absolute;
  right: 5%;
}