.checkbox-veteran {
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
}

.task-content-height {
  height: 130px;
}

.category-tasks {
  border: 1px solid #c3d0dd;
  border-radius: 5px;
  justify-content: center;
  padding-top: 10px;
}

.h-65px {
  height: 65px;
}

.mt-100px {
  margin-top: 100px;
}

body {
  background-color: white;
}

.nav-color {
  background-color: #356da5 !important;
}

.logo-color {
  font-weight: bold;
  color: white !important;
  font-size: 22px;
}

.nav-user-name-style {
  color: white !important;
}

.admin-list-task {
  border: 1px solid #356ca4;
  border-radius: 10px;
  min-height: 140px;
  max-height: 200px;
}

.min-max-height {
  min-height: 140px;
  max-height: 200px;
}

.border-right {
  border-right: 1px solid #776eb2;
}

.color-white {
  color: white !important;
}