<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5 mt-5">
        <div class="flex-center text-center">
          <!-- Facebook -->
          <a class="">
            <i class="fa fa-facebook-square fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="">
            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="">
            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright white-text text-center py-3">© 2019 Copyright:
    <a class=" white-text" href="#">芝浦大学生&&ハノイ工科大学生</a>
  </div>
</footer>
<!-- Footer -->